/* Placeholder for fontface */

/* Main Layout Styling Classes */
body {
    width: 100%;
    margin: 0;
}
.mainContainer {
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: url(images/mario-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.header {
    height: 10%;
    width: 100%;
    background-color: blue;
}
.footer {
    height: 10%;
    width: 100%;
    background-color: blue;
}
.sideBar {
    display: inline-block;
    background-color: purple;
    width: 9%;
    /* height: 100vh; */
    margin: auto;
}
#gameBoard {
    display: inline-grid;
    background-color: green;
    height: 78%;
    width: 81%;
    margin: auto;
    grid-template-columns: repeat(7, 1fr);

}
#gameBoard > div > div {
    border: black solid 1px;
    width: 100%;
    height: 100%; 
}
#gameBoard > div > .tokenDropArea {
    background-color: yellow;
}
.column0 {
    display: inline-grid;
    background-color: green;
    grid-template-rows: repeat(7, 1fr); 
    width: 100%;
    height: 100%;  
}
.column1 {
    display: inline-grid;
    background-color: green;
    grid-template-rows: repeat(7, 1fr);  
}
.column2 {
    display: inline-grid;
    background-color: green;
    grid-template-rows: repeat(7, 1fr);  
}
.column3 {
    display: inline-grid;
    background-color: green;
    grid-template-rows: repeat(7, 1fr);  
}
.column4 {
    display: inline-grid;
    background-color: green;
    grid-template-rows: repeat(7, 1fr);  
}
.column5 {
    display: inline-grid;
    background-color: green;
    grid-template-rows: repeat(7, 1fr);  
}
.column6 {
    display: inline-grid;
    background-color: green;
    grid-template-rows: repeat(7, 1fr);  
}

.emptyLocation {
    /* Use for 'blank space' view */
}
.columnHighlight {
    background-color: blueviolet;
}


/* Player Related Classes */
.playerColumn{
    vertical-align: top;
    display: inline-block;
    width: 33%;
    height: 100px;
}
.playerColumn h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.playerImg{
    height: 50px;
    width: 50px;
    margin: auto;
    background-color: hotpink;
}

.highlightCurrentPlayer {
    background-color: yellow;
}
.playerTurnModal {
}



/* Token State Classes*/
.player1TokenShowing {
}
.player2TokenShowing {
}
/* Token Falling animation */
/* Power Up Classes */
.player1PowerUpBoardHighlight {
}
.player2PowerUpBoardHighlight {
}
.powerupButton{
}

/* Reset Classes */
.resetButton{
}

/* Modal Classes */
.beginGameModal{ 
}
.gameWinModal{ 
}
.hiddenElement {
    display: none;
}





/* Media Query Classes */
@media screen and (max-width: 480px) {
    .sideBar {
        display: none;
    }
    #gameBoard {
        width: 100%; 
    }
}